<!doctype html>
<html>
<head>
{% block head %}

<meta charset="utf-8">
<title>{% block title%}{% endblock %}</title>
<meta name="description" content="">
<meta name="author" content="Aristote Diasonama">

<link rel="icon" href="/static/img/favicon.gif" type="image/x-icon" />
<!-- Le styles -->
{% block style %}
<link href="/static/bootstrap/css/bootstrap.min.css" rel="stylesheet">
{% endblock %}
<!--[if lt IE 9]>
    <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
     <![endif]-->
<!-- Fav and touch icons -->
<link rel="apple-touch-icon-precomposed" sizes="144x144"
	href="/static/img/apple-touch-icon-144-precomposed.png">
<link rel="apple-touch-icon-precomposed" sizes="114x114"
	href="/static/img/apple-touch-icon-114-precomposed.png">
<link rel="apple-touch-icon-precomposed" sizes="72x72"
	href="/static/img/apple-touch-icon-72-precomposed.png">
<link rel="apple-touch-icon-precomposed"
	href="/static/img/apple-touch-icon-57-precomposed.png">
<link rel="shortcut icon" href="/static/img/favicon.png">
{% endblock %}
</head>

<body>

	<!-- start navigation here -->
	<div class="container"></div>
	<!-- end navigation here -->

</body>
</html>
