{% if user %}
{% extends "home.html" %}
{% else %}
{% extends "index.html" %}
{% endif %}
{% block title %}
{{ user.firstname }} - Profile
{% endblock %}
{% block central_container%}
<div class="span9 well">
    <h3>Mot de passe</h3><small>Changer votre mot de passe ou recuperer votre mot de passe<br>[N'oublier pas d'enregistrer vos changements a la fin]</small>
   
    <hr>
     <div id = "reset-password-message" class="alert" style="display:none;">
  
</div>
   <form class="form-horizontal" id="reset-password-form" method="post" onSubmit="reset_password(); return false;">
 	<div class="control-group">
    <label class="control-label" for="password">Mot de passe actuel</label>
    <div class="controls">
      <input type="password" id="pwd" placeholder="Mot de passe actuel" name="old_password" required><br><small><a href="#" onClick="forgot_password(); return false;" style="font-size:12px; margin-top:1%;">Mot de passe oublié?</a></small>
    </div>
  </div>
  
  <div class="control-group">
    <label class="control-label" for="password-new">Nouveau mot de passe</label>
    <div class="controls">
      <input type="password" id="pwd_new" placeholder="Nouveau mot de passe" name="password" required pattern=".{5,}" title="Votre mot de passe doit avoir 5 charactères minimums">
    </div>
  </div>
  
  <div class="control-group">
    <label class="control-label" for="password_confirm">Confirmer mot de passe</label>
    <div class="controls">
      <input type="password" id="pwd_confirm" placeholder="Confirmer mot de passe" name="confirm_password" pattern=".{5,}" title="Votre mot de passe doit avoir 5 charactères minimums" required>
    </div>
  </div>
  <hr>
      <div class="control-group">
    <div class="controls">
      <button type="submit" class="btn">Enregistrer les Changements</button>
    </div>
  </div>
</form>
</div>
{%block side_right%}
<div class="span3">
        <div class="row-fluid">
            <div class="span12 well">
                <ul class="nav nav-list bs-docs-sidenav">
                 <li><a href="/edit"><i class="icon-info-sign"></i>Compte</a></li>
                  <li><a href="#" class="my_events"style="background-color:lightgrey;"><i class="icon-lock"></i> Mot de passe</a></li>
                  <li><a href="/edit/notifications"><i class="icon-envelope"></i>Notifications</a></li>
                </ul>
            </div>
        </div>
    </div>
{% endblock%}
{% endblock %}